*{
    margin: 0%;
    padding: 0%;
}
.div-table {
    border: 1px solid #000;
    display: table;
    width: auto;
}
.div-table-row {
    display: table-row;
    width: auto;
    clear: both;
}
.div-table-col {
    border: 1px solid #000;
    float: left; /* fix for  buggy browsers */
    display: table-column;
    text-align: center;
}
.num, .hours{
    width: 20px;
}
.name, .phone, .mail{
    width: 200px;
}